<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Filtering Services
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Filtering Services</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()" placeholder="Search State"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let item of items">{{item.title}}</ion-item>
    </ion-list>
  </div>
</ion-content>